<template>
  <div id="Top">
    <a href="#" class="link dim yellow">yellow link</a>
  </div>
</template>
<script>
export default {
  name: "Top",
  data: () => ({
    title: 'Top'
  })
}
</script>
<style scoped>
</style>
