<template>
  <div class="avenir ph4 pv9">
    <div class="fl w-100">
      <TopComponent/>
    </div>

      <div class="fl w-100 w-30-ns">
        <SideComponent/>
      </div>
      <div class="fl w-100 w-70-ns">
        <MainComponent/>
      </div>
    <div class="fl w-100 stickit">
      <BottomComponent/>
    </div>
  </div>
</template>

<script>
import TopComponent from '~/components/TopComponent.vue'
import BottomComponent from '~/components/BottomComponent.vue'
import SideComponent from '~/components/SideComponent.vue'
import MainComponent from '~/components/MainComponent.vue'

export default {
  components: {
    TopComponent,
    BottomComponent,
    SideComponent,
    MainComponent
  }
}
</script>

<style>

.stickit {
  position: absolute;
  bottom: 0;
}

</style>
